*,
*::after,
*::before {
  box-sizing: border-box;
}
.container {
  background: #ff6666;
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  font-family: "DM Sans", san serif;
  max-width: 500px;
  color: #fff;
  box-shadow: 3px 3px 15px 5px rgba(0,0,0,0.28);
}
.title {
  font-weigth: normal;
  font-size: 2.6rem;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid rgba(225,225,225,0.7);;
}
.title span {
  font-size: 1rem;
  display: block;
  margin-top: 0.2rem;
  margin-left: 2px;
  margin-bottom: 0.5rem;
}
.task-list {
  list-style: none;
  margin-top: 3rem;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.1);
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  transition: all 0.5s ease;
  transform-origin: top left;
}
.fall {
  transform: rotate(10deg);
  opacity: 0;
}
.task-list .action {
  flex-shrink: 0;
  padding-left: 0.7em;
}
.task-list .btn-action {
  border: none;
  background: none;
  cursor: pointer;
  color: #fff;
}
input[type="checkbox"] {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
}
.task-list input[type="checkbox"] {
  position: relative;
  top: 0.3rem;
}

.task-list .label {
  transition: opacity 0.3s linear;
}
.task-list .done .label {
  opacity: 0.6;
  text-decoration: line-through;
}
.filter-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}
form  {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
 
}
form label {
  min-width: 100%;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
form input {
  flex-grow: 1;
  backgound:rgba(255,255,255,0.1);
  border: none;
  padding: 0 1.5em;
  font-size: initial;
}
form button {
  border: 1px solid rgba(255,255,255,0.3);
  background: #ff6666;
  padding: 0 1.5em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background 0.2s ease-out;
  height: 3rem;
  }
form button:hover {
  filter: brightness(110%);
  }